<!DOCTYPE html>
<html>
<head>
    <title>Velora Inventory</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <div class="brand">VELORA INVENTORY</div>
    <button onclick="toggleDark()">🌙</button>
</div>

<div class="container">

    <h2>Add Product</h2>

    <div class="form-card">
        <input id="type" placeholder="Type (Electronics/Grocery)">
        <input id="name" placeholder="Product Name">
        <input id="price" placeholder="Price">
        <input id="stock" placeholder="Stock">
        <input id="extra" placeholder="Brand / Expiry">
        <button onclick="addProduct()">Add Product</button>
    </div>

    <h2>Inventory</h2>
    <h2>Search Product</h2>

<div class="form-card">
    <input id="searchName" placeholder="Enter product name">
    <button onclick="searchProduct()">Search</button>
    <button onclick="loadProducts()">Reset</button>
</div>

    <div id="products" class="product-grid"></div>

</div>

<script>

function toggleDark(){
    document.body.classList.toggle("dark");
}

async function loadProducts(){
    const res = await fetch("/products");
    const data = await res.json();

    let html = "";
    data.forEach(p => {
    html += `
    <div class="card">
        <h3>${p.name}</h3>
        <p>Type: ${p.type}</p>
        <p>Price: ₹${p.price}</p>
        <p>Stock: ${p.stock}</p>

        <input type="number" id="stock-${p.name}" placeholder="New Stock">
        <button onclick="updateStock('${p.name}')">Update Stock</button>

        <button onclick="deleteProduct('${p.name}')">Delete</button>
    </div>
    `;
});


    document.getElementById("products").innerHTML = html;
}

async function addProduct(){
    const type = document.getElementById("type").value;
    const name = document.getElementById("name").value;
    const price = parseFloat(document.getElementById("price").value);
    const stock = parseInt(document.getElementById("stock").value);
    const extra = document.getElementById("extra").value;

    let body = {
        type: type,
        name: name,
        price: price,
        stock: stock
    };

    if(type === "Electronics"){
        body.brand = extra;
    }
    if(type === "Grocery"){
        body.expiry_date = extra;
    }

    await fetch("/add-product", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify(body)
    });

    loadProducts();
}

async function deleteProduct(name){
    await fetch(`/remove-product/${name}`, {
        method: "DELETE"
    });
    loadProducts();
}
async function updateStock(name){
    const stock = document.getElementById(`stock-${name}`).value;

    await fetch(`/update-stock/${name}/${stock}`, {
        method: "PUT"
    });

    loadProducts();
}


async function searchProduct(){
    const name = document.getElementById("searchName").value;

    const res = await fetch(`/search/${name}`);

    if(res.status === 200){
        const p = await res.json();

        document.getElementById("products").innerHTML = `
        <div class="card">
            <h3>${p.name}</h3>
            <p>Type: ${p.type}</p>
            <p>Price: ₹${p.price}</p>
            <p>Stock: ${p.stock}</p>
        </div>
        `;
    } else {
        alert("Product not found");
    }
}

loadProducts();

</script>

</body>
</html>
